.mast-head {
  font-family: 'Lobster', cursive;
  background-color: #eded12;
  min-height: 300px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

#outer-border {
  background-color: #eded12 !important;
}

#heading{
  font-size: 40px;
}

#niche_text {
    font-size: 20px;
}

#social-links {
  padding: 60px 0px 20px 0px;
  font-size: 6em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#social-links a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -mos-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

#social-links a:hover,
#social-links a:focus {
  font-size: 1.2em;
}

.monot{
  font-family: 'Monoton', cursive;
}

.fab , .fa-twitter, .fa-linkedin, .fa-github {
  margin-left: auto;
  margin-right: auto;
  font-size: 70px;
  color: black;
  position:relative;
  display: inline-block;;
  text-align: center;
}
